.container {
    display: grid;
    height: 80px;
    grid-template-columns: 8fr 1fr;
    border-bottom: #ebebeb 1px solid;
    align-items: center;
    border-radius: 0.5rem;
}

.chatContent {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border: none;
}

.chatName {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #403d39;
    margin: .5rem;
}

.members {
    width: 100%;
    display: flex;
}

.memberImage {
    position: relative;
    border-radius: 50%;
}



.members img:not(:first-child) {
    margin-left: -8px;
}

.chatActions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 60px;
}

.muted {
    color: #ccc5b9;
    font-size: 1.2rem;
}

.threeDots {
    color: #403d39;
    font-size: 2rem;
    background-color: inherit;
    border: none;
    align-self: flex-end;
}

.chatNameForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.chatNameForm input {
    border: none;
}

.chatNameForm input:focus {
    outline: unset;
    border-bottom: #eb5e28 1px solid;
}