.container {
    display: grid;
    grid-template-columns: 8fr 1fr;
    border-bottom: #ebebeb 1px solid;
    box-shadow: 0px 1px 0px 0px #ebebeb;
    align-items: center;
    padding-bottom: 1rem;
}

.chatContent {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    border: none;
}

.chatName {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    margin-bottom: 1rem;
}

.members {
    width: 100%;
    display: flex;
}

.members img {
    position: relative;
}

.members img:not(:first-child) {
    margin-left: -8px;
}

.chatActions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 60px;
}

.muted {
    color: #9db4c0;
    font-size: 1.2rem;
}

.threeDots {
    color: #f56d44;
    font-size: 2rem;
    background-color: inherit;
    border: none;
    align-self: flex-end;
}

.chatNameForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.chatNameForm input {
    border: none;
}

.chatNameForm input:focus {
    outline: unset;
    border-bottom: #f56d44 1px solid;
}