.channelButton {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    border-bottom: #ebebeb 3px solid;

}

.active {
    color: #f56d44;
    margin-bottom: 0;
}

.channelButton:not(.active):hover {
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: inset 0 -2px 1px #b5b5b5,
        inset 0 2px 3px #ebebeb;
    cursor: pointer;
}


.channelButton:not(.active):active {
    transform: translate(2px, 2px);
}

.channelNameForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.channelNameForm input {
    border: none;
}

.channelNameForm input:focus {
    outline: unset;
    border-bottom: #f56d44 1px solid;
}



.saveButton {
    background-color: inherit;
    border: none;
    margin: auto;
    color: #f56d44;


}

.saveButton:hover {
    transform: scale(1.2);
}

.channelName {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    max-width: 130px;
    word-wrap: break-word;
    text-overflow: ellipsis;
}



.muted {
    position: relative;
    top: 1rem;
    color: #9db4c0;
}