.container {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.title {
    padding: 1rem 1rem 0 1rem;
    color: #403d39;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.searchAndFilter {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}


.chatSearch {
    display: flex;
    flex-direction: row;
}

.chatSearch input {
    width: 300px;
    background-color: #fffcf2;
    border: 1px solid #fffcf2;
    box-shadow: 0px 1px 5px 0px #e0e0e0;
    border-radius: 10px;
    padding: .5rem;
    font-size: 1rem;
    color: #403d39;
}

.chatSearch input:focus {
    outline: #403d39 solid 2px;
}

.chatSearch input::placeholder {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatSearchButton {
    position: relative;
    display: flex;
    align-items: center;
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    left: -2rem;
    background-color: transparent;

}


.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 0.5rem 1rem 2rem 1rem;

}

.scrollable::-webkit-scrollbar {
    width: 0.3rem;

}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #eb5e28;
    border-radius: 10px;

}

.scrollable::-webkit-scrollbar-track {
    background-color: inherit;
}

.filterButton,
.filterButtonActive {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    color: #403d39;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: .5rem;
}

.filterButtonActive {

    background-color: #eb5e28;
    color: white;


}