.overlay {
    position: fixed;
    display: grid;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.bottomSheet {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    background-color: white;
    align-self: flex-end;
    height: 40dvh;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.bottomSheet button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    border-radius: 1rem;
    padding: 1rem;
    background-color: inherit;
    cursor: pointer;
    border: none;
    box-shadow: 0px 1px 5px 0px #e0e0e0;

}

.bottomSheet button:first-child {
    background-color: #fffcf2;
    color: #403d39;
}



.modal {
    width: 20rem;
    height: 12rem;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 5px 0px #e0e0e0;

}

.closeModal {
    position: relative;
    left: 18rem;
    bottom: -0.5rem;
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
    border: none;
    background-color: transparent;
    color: #403d39;
    font-size: large;
}

.closeModal:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.addFriend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem
}

.pasteId {
    display: flex;
    border: #eb5e28 2px solid;
    border-radius: 10px;
    margin: 0.5rem;
    justify-content: space-between;
}

.addFriend p {
    padding: 0.5rem;

}

.pasteIdInput {
    padding: 1rem;
    border: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

}

.pasteIdInput:focus {
    outline: none;
}

.addFriendButton {
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 1px solid #eb5e28;
    background-color: inherit;
    cursor: pointer;
    color: white;
    background-color: #eb5e28;
    font-size: 1rem;
}

.leaveRoom {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.leaveRoom p {
    font-size: 1rem;
    text-align: center;

}

.leaveRoomButtons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

}


.leaveButton {
    width: 6rem;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    background: #ffffff;
    box-shadow: 0px 1px 5px 0px #e0e0e0;

}

.stayButton {
    width: 6rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    color: #403d39;
    background: #fffcf2;
    box-shadow: 0px 1px 5px 0px #e0e0e0;

}



.questionIcon {
    position: relative;
    top: -1rem;
    font-size: 2rem;
    color: #403d39;
    align-self: center;
    justify-self: center;
}

.leave {
    color: #eb5e28;
}