.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #eee;

}



.infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


.editProfile {
    border: none;
    cursor: pointer;
    color: #f56d44;
    background-color: transparent;
}



.username {
    border: none;
    color: #f56d44;
    font-family: monospace;
    font-size: 1.2rem;
    justify-self: flex-end;
    background-color: transparent;
    text-align: center;
}








.usernameInput:focus {
    outline: none;
}


.usernameInput::placeholder {
    font-size: .7rem;


}



.profileForm {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 2fr 1fr;
    justify-items: start;
    width: 100%;

}


.profileForm input::-webkit-file-upload-button {
    background-color: #f56d44;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;


}

.shareId {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shareId p {
    font-size: 1rem;
    color: #9db4c0;
    padding: 1rem 0.5rem 0.5rem 0;

}


.copyId {
    display: flex;
    border: #f56d44 2px solid;
    border-radius: 10px;
    width: 200px;
    justify-content: space-between;

}

.copyIdButton {
    padding: 0.5rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #f56d44;
}

.copyIdButton:hover {
    background-color: #f56d44;
    color: white;
}


.userId {
    font-size: 0.8rem;
    color: #9db4c0;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;
    padding-left: 0.5rem;

}





.logout {
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #f56d44;
    font-size: 1.5rem;
    color: white;
}


.icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    font-size: .8rem;
    font-weight: 400;
    transition-duration: .3s;
}


.logout:hover {
    width: 100px;
    border-radius: 40px;
    transition-duration: .3s;
}

.logout:hover .icon {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
}

.logout:hover .text {
    opacity: 1;
    width: 75%;
    transition-duration: .3s;
    padding-right: 10px;
}


.logout:active {
    transform: translate(2px, 2px);
}