.profile {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    background-color: white;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.editProfile {
    border: none;
    cursor: pointer;
    color: #eb5e28;
    background-color: transparent;
    font-size: 1rem;
}

.username {
    border: none;
    color: #403d39;
    font-size: 1.5rem;
    justify-self: flex-end;
    background-color: transparent;
    text-align: center;
}


.username:focus {
    outline: none;
}


.shareId {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shareId p {
    font-size: 1rem;
    color: #403d39;
    padding: 1rem;

}

.copyId {
    display: flex;
    border: #eb5e28 2px solid;
    border-radius: 0.5rem;
    width: 200px;
    justify-content: space-between;

}

.copyIdButton {
    padding: .5rem;
    font-size: 1.5rem;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    background-color: #eb5e28;
    color: white;
}



.userId {
    font-size: 1rem;
    color: #eb5e28;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;
    padding-left: 0.5rem;

}

.logout {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 4rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #ccc5b9;
    font-size: 2rem;
    color: white;
}

.icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    font-size: 1rem;
    font-weight: 400;
    transition-duration: .3s;
}


.logout:hover {
    width: 100px;
    border-radius: 1rem;
    transition-duration: .3s;
}

.logout:hover .icon {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
}

.logout:hover .text {
    opacity: 1;
    width: 75%;
    transition-duration: .3s;
    padding-right: 10px;
}


.logout:active {
    transform: translate(2px, 2px);
}

.overlay {
    position: fixed;
    display: grid;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.bottomSheet {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    background-color: #ebebeb;
    align-self: flex-end;
    height: 40dvh;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.bottomSheet header {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    box-shadow: 0px 1px 5px 0px #e0e0e0;

}

.bottomSheet header h3 {
    font-weight: 400;
    padding: 1rem;
}


.profileForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profileForm button {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: #ffffff;
    box-shadow: 0px 1px 5px 0px #e0e0e0;
    font-size: 1rem;
    cursor: pointer;
    color: black;
}


.profileForm input::-webkit-file-upload-button {
    background-color: #ccc5b9;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}