.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.chatBox {
  background-color: #ff9e00;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.85rem;
  font-family: var(--font-mono);
}

.messageBox {
  position: relative;
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.username {
  color: #ff9e00;
  font-weight: 300;
  padding-bottom: 0.5rem;

}

.content {
  font-weight: 800;
}

.sendBox {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;

}

.sendBox input,
.sendBox button {
  font-size: 1rem;
  font-family: var(--font-mono);
}

.sendBox input {
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border: none;
  background: #2f4858;
}

.sendBox button {

  display: flex;
  border-radius: var(--border-radius);
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border: none;
  padding: 1.067rem;
  background-color: #2f4858;
  color: #ff9e00;
  cursor: pointer;
}