.container {
    width: 100%;
    height: 269px;
    background-color: #E86100;
    overflow: hidden;
}


.image {
    height: auto;
    margin-left: 25px;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 18px;
    padding: 30px;
}

.subheader {
    font-weight: 300;

}

.triangle {
    position: absolute;
    top: 140px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 320px solid transparent;
    border-bottom: 130px solid #fff;
    z-index: 0;

}

.formContainer {
    display: flex;
}