.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image {
    width: 45%;
    height: auto;

}


@media only screen and (max-width: 768px) {

    .image {
        display: none;
    }
}