.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(150deg, #f56d44, #410146, #18b0bb, #f56d44);


}

.chatContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 20px;
    background: white;
    margin: 1rem 1rem 1rem 0;
}