.container {
    display: flex;
    flex-direction: column-reverse;
    height: 100dvh;
    overflow: hidden;
    background-color: white;

}

.chatContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 20px;
    background: white;
}