.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-block: .5rem;
    margin: 1rem;
    /* background-color: #fffcf2; */
    border-radius: 1rem;

}

.button {
    font-size: 2rem;
    background-color: inherit;
    border: none;
    color: #403d39;
    cursor: pointer;
    transition: 0.2s;
    width: 3rem;
    height: 3rem;
    transition: 0.5s;


}

.buttonActive {
    display: grid;
    place-items: center;
    position: relative;
    bottom: 2rem;
    font-size: 2rem;
    color: #fff;
    background-color: #E86100;
    border-radius: 50%;
    border: .2rem solid #fff;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    transition: 0.5s;
}

.badge {
    position: absolute;
    bottom: 3.5rem;
    left: 12.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #fffcf2;
    border: none;
    color: #403d39;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}