.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: inherit;


}

.button {
    font-size: 2rem;
    background-color: inherit;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.badge {
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    font-size: 0.7rem;
    font-weight: bold;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #410146;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}