.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fffcf2;
}

.button {
    font-size: 2rem;
    background-color: inherit;
    border: none;
    color: #ccc5b9;
    cursor: pointer;
    transition: 0.2s;
}

.buttonActive {
    color: #403d39;
    font-size: 2rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}


.friendBadge {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    font-size: .8rem;
    font-weight: bold;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #403d39;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatBadge {
    position: absolute;
    bottom: 3rem;
    left: 12rem;
    font-size: 0.8rem;
    font-weight: bold;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #403d39;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}