.container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-bottom: 1rem;
    border-radius: 40px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 20px -10px;
}


.channelContainer {
    overflow-y: auto;
    scrollbar-width: auto;
    margin-bottom: 1rem;
}

.channelContainer::-webkit-scrollbar {
    display: none;
}

.channelContainer::-webkit-scrollbar-thumb {
    background-color: #9db4c0;

}

.channelContainer::-webkit-scrollbar-track {
    background-color: inherit;
}

.channelInput {
    border: none;
    border-radius: 40px;
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: inherit;
}



.channelInput::placeholder {
    color: #9db4c0;
    font-size: .7rem;
}


.channelButton {
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    border: none;
    cursor: pointer;
    justify-content: center;
    background-color: transparent;
    margin: 0.2rem;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 2px 0 -1px;

}

.channelButton:active {
    transform: scale(0.95);
    transition: 0.2s;

}

.channelButton:focus {
    outline: none;
}

.msgCount {
    position: relative;
    top: -0.8rem;
    right: -3.6em;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    font-size: 0.7rem;

}


.activeChannel {
    background-color: transparent;

    border-radius: 10px;
    display: flex;
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: 0.75rem;
    transition: 0.2s;
    border-left: #6F00FF 3px solid;
    border-right: #6F00FF 3px solid;
    justify-content: center;

}

.channelButton:hover {
    transform: scale(1.15);
    transition: 0.1s;


}



.channelTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #9db4c0;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    text-decoration: underline;
    align-self: flex-start;
    padding: 0.4rem 0.8rem;
}