.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #cccccc,
        -5px -5px 10px #f4f4f4;
}


.channelSearch {
    border: none;
    box-shadow: 2px 2px 3px #b5b5b5,
        -2px -2px 3px #ebebeb;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: inherit;
    align-self: center;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
}


.channelContainer {
    overflow-y: auto;
    margin-bottom: 1rem;
    background-color: transparent;
    padding: 0.5rem 1rem;

}

.channelContainer::-webkit-scrollbar {
    width: 0.2rem;

}



.channelContainer::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;

}

.channelContainer::-webkit-scrollbar-track {
    background-color: inherit;
}



.channelSearch::placeholder {
    font-size: .7rem;
}

.channelSearch:focus {
    outline: #E86100 solid 2px;
}




.channelButton {
    display: flex;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    cursor: pointer;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #b5b5b5,
        -2px -2px 3px #ebebeb;
}



.activeChannel {
    background-color: inherit;
    border-radius: 10px;
    display: flex;
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    transition: 0.2s;
    border-left: #E86100 5px solid;
    box-shadow: 2px 2px 3px #b5b5b5,
        -2px -2px 3px #ebebeb;
    margin-bottom: 0.5rem;

}



.msgCount {
    position: relative;
    top: -1rem;
    right: -3.5rem;
    background-color: #81b29a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
    color: white;
    font-weight: 600;

}




.channelButton:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


.channelButton:active {
    transform: translate(2px, 2px);
}


.channelTitle {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: flex-start;
    color: #9db4c0;
}

.channelDetails {
    display: flex;
    flex-direction: column;

}

.channelDetails h6 {
    font-size: 1rem;

}

.senderName {
    font-size: 1rem;
    color: #E86100;
}

.lastMsg {
    font-size: 1rem;

}

.time {
    size: 0.6rem;
    color: #9db4c0;

}