.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 20px;
    box-shadow: 5px 5px 3px #f4f4f4,
        -5px -2px 1px #f4f4f4;
}


.channelSearch {
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    width: 250px;
    border-bottom: #ebebeb 2px solid;
    margin: 0.2rem 0 1rem 0;
}

.header {
    display: flex;
    align-items: flex-end;
    word-wrap: break-word;


}

.channelTitle {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f56d44;
    padding-bottom: 0.1rem;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    padding: 0.5rem 1rem 2rem 1rem;

}

.scrollable::-webkit-scrollbar {
    width: 0.2rem;

}



.scrollable::-webkit-scrollbar-thumb {
    background-color: #d5d5d5;

}

.scrollable::-webkit-scrollbar-track {
    background-color: inherit;
}



.channelSearch::placeholder {
    font-size: .7rem;
}

.channelSearch:focus {
    outline: #f56d44 solid 2px;
}

.channelButton {
    display: flex;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    width: 200px;
    cursor: pointer;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 1px #ebebeb,
        inset -2px -2px 1px #ebebeb;
}



.activeChannel {
    background-color: inherit;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    padding: 0.7rem;
    width: 200px;
    font-size: 1rem;
    border-left: #f56d44 5px solid;
    color: #f56d44;
    box-shadow: inset 0 -2px 1px #b5b5b5,
        inset 0 2px 3px #ebebeb;
    margin-bottom: 0.5rem;
}


.channelName {
    max-width: 150px;
    word-wrap: break-word;
}


.channelButton:hover {
    transform: scale(1.05);
    transition: 0.2s;
}


.channelButton:active {
    transform: translate(2px, 2px);
}

/* threeDots */

.kebabMenu {
    position: absolute;
    cursor: pointer;
}

.showLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.threeDots {
    background-color: inherit;
    color: #f56d44;
    border: none;

}

.threeDots:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.threeDots:active {
    transform: translate(2px, 2px);
}





.dropdown {
    background-color: white;
    position: absolute;
    display: none;
    width: 140px;
    margin: 0.5rem;
    border-radius: 10px;
    border-top-right-radius: 0;
    overflow: auto;
    box-shadow: 0 -2px 1px #b5b5b5,
        0 2px 3px #ebebeb;



}

.dropdown button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.75rem;
    border: none;
    background-color: inherit;
    padding: 0.5rem;
    cursor: pointer;

}

.dropdown button:hover {
    background-color: #f56d44;
    color: white;


}

.show {
    display: block;
}

/* notifier */

.msgCount {
    position: relative;
    top: -0.8rem;
    right: -5.4rem;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 0.6rem;
    padding: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 20px #f56d44,
        inset -2px -1px 2px #f56d44;

}