.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 3rem;
}


.headerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #9db4c0;
    border-bottom: #253237 solid 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff9e00;

}

.scrollable {
    height: 350px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-end;
}


.scrollable::-webkit-scrollbar {
    width: 0.2rem;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #9db4c0;

}

.scrollable::-webkit-scrollbar-track {
    background-color: inherit;
}


.sendBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendBox input,
.sendBox button {
    font-size: 1rem;
}

.sendBox input {
    width: 75%;
    padding: 0.5rem;
    border: none;
    background: #253237;
    border-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sendBox input::placeholder {
    color: #9db4c0;
    font-size: .75rem;
}


.sendBox button {
    display: flex;
    border: none;
    padding: 0.57rem;
    background-color: #253237;
    color: #9db4c0;
    cursor: pointer;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}