.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    border-radius: 13px;
    background: inherit;

}

.chatContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 20px;
    background: inherit;
    box-shadow: 5px 5px 25px #898989,
        -5px -5px 25px #ffffff;
    margin: 1rem;
}