.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    background-color: #aeb8fe;

}

.chatContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 20px;
    background: white;
    margin: 1rem;
}