.channelButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.2rem 1rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 200px;
    background-color: inherit;
    border: none;
    border-radius: 10px;
    border-bottom: #ebebeb 3px solid;

}

.active {
    border-left: #f56d44 5px solid;
    color: #f56d44;
}

.channelButton:not(.active):hover {
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: inset 0 -2px 1px #b5b5b5,
        inset 0 2px 3px #ebebeb;
    cursor: pointer;
}


.channelButton:not(.active):active {
    transform: translate(2px, 2px);
}

.channelNameForm {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.channelNameForm input {
    border: none;
}

.channelNameForm input:focus {
    outline: unset;
    border-bottom: #f56d44 1px solid;
}



.saveButton {
    background-color: inherit;
    border: none;
    margin: auto;
    color: #f56d44;


}

.saveButton:hover {
    transform: scale(1.2);
}

.channelName {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    max-width: 130px;
    word-wrap: break-word;
    text-overflow: ellipsis;
}





/* threeDots */

.kebabMenu {
    position: absolute;
}

.showLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.threeDots {
    background-color: inherit;
    color: #f56d44;
    border: none;
    cursor: pointer;


}

.threeDots:hover {
    transform: scale(1.2);
    transition: 0.2s;
}






.dropdown {
    background-color: white;
    position: absolute;
    display: none;
    width: 130px;
    margin: 0.5rem;
    border-radius: 10px;
    border-top-right-radius: 0;
    overflow: auto;
    box-shadow: 0 2px 1px #b5b5b5,
        0 2px 2px #ebebeb;
    z-index: 1;



}

.dropdown button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.75rem;
    border: none;
    background-color: inherit;
    padding: 0.5rem;
    cursor: pointer;

}

.dropdown button:hover {
    background-color: #f56d44;
    color: white;


}

.show {
    display: block;
}



.newMessage {
    position: relative;
    left: 4rem;

    top: -2rem;

    font-size: 0.8rem;
    color: #f56d44;

}