.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}




.login {
    padding: 1rem;
    border-left: #253237 1px solid;
    width: 40%;
    height: 100vh;
    font-family: monospace;
}

.input {
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background: #253237;
    color: white;
}

.button {
    border-radius: var(--border-radius);
    width: 100%;
    padding: 10px;
    background-color: #ff9e00;
    margin: 1rem 0;
    border: none;
    cursor: pointer;
}

.label {
    font-size: .75rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.link {
    text-decoration: underline;
    margin-top: .5rem;
    color: #ff9e00;
}