.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: monospace;

}


.login {

    padding: 2rem;
    border-left: #253237 1px solid;
    min-width: 300px;
    width: 30vw;
    height: 100vh;
}




.input {
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    background: #253237;
    color: white;
}

.button {
    border-radius: var(--border-radius);
    width: 100%;
    padding: 10px;
    background-color: #ff9e00;
    margin: 1rem 0;
    border: none;
    cursor: pointer;
}

.label {
    font-size: .75rem;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.link {
    text-decoration: underline;
    margin-top: .5rem;
    color: #ff9e00;
}


@media (max-width: 768px) {
    .login {
        width: 60vw;

    }
}

@media (max-width: 576px) {
    .login {
        width: 100vw;

    }
}