.scrollable {
    height: 350px;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-end;
}

.scrollable::-webkit-scrollbar {
    width: 0.2rem;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #9db4c0;

}

.scrollable::-webkit-scrollbar-track {
    background-color: inherit;
}



.messageContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.myMessageContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}


.message {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.3rem;

    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0%;
}

.myMessage {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.3rem;
    background-color: #3b6064;
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
    border-bottom-right-radius: 0%;
}

.username {
    color: #ff9e00;
    font-weight: 300;
    font-size: .6rem;
    font-family: monospace;
}

.content {
    max-width: 300px;
    word-wrap: break-word;
    font-size: 0.75rem;
    padding: 0.3rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.createdAt {
    font-size: 0.5rem;
    color: #999999;
    font-family: monospace;
    align-self: flex-end;
}

.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    margin: 0.2rem;
}