.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* width: 80px; */
    background-color: inherit;


}

.button {
    font-size: 2rem;
    background-color: inherit;
    border: none;
    color: white;

}