.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    font-size: 1rem;
    margin: 1rem 0 1rem 1rem;
}


.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: inherit;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}


.icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    font-size: 1rem;
    font-weight: 400;
    transition-duration: .3s;
}


.button:hover {
    width: 120px;
    border-radius: 40px;
    transition-duration: .3s;
    box-shadow: rgba(133, 189, 215, 0.8) 5px 12px 20px -15px;
    padding: 0;
    background-color: #010B13;
    color: white;
}

.button:hover .icon {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
}

.button:hover .text {
    opacity: 1;
    width: 75%;
    transition-duration: .3s;
    padding-right: 10px;
}


.button:active {
    transform: translate(2px, 2px);
}