.container {
    background-color: #aeb8fe;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 100px;
}

.button {
    font-size: 2rem;
    background-color: inherit;
    border: none;
    color: white;

}