.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0.5rem;
}

.controlButtons {
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 3rem;
    background-color: inherit;
    display: flex;
}


.panel {

    display: flex;
    flex-direction: row;
    box-shadow: rgba(133, 189, 215, 0.8) 5px 12px 20px -15px;
    margin: 1rem 0;
    border-radius: 10px;
}


.closeButton {
    background-color: inherit;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #ff9e00;
}