.panel {
    display: flex;
    flex-direction: row;
    margin: 0.3rem 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: #212529;

}


.closeButton {
    background-color: inherit;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #ff9e00;
}