.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    background-color: inherit;
    justify-content: space-between;

}


.header {
    background-color: #fffcf2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.backButton {
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: #403d39;
    font-size: 1rem;
}


.welcome {
    display: flex;
    align-items: center;
    height: 100%;
}

.welcomeMessage {
    color: #403d39;
    font-family: monospace;
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: center;
    justify-self: center;

}

.titleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #403d39;


}


.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.searchInput {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: #403d39;
    padding-right: 40px;

}



.search input::placeholder {
    font-size: .75rem;
}

.search input:focus {
    outline: none;
}

.search:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}


.infoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: none;
    color: #403d39;
    margin-left: 1rem;
}

.infoButton:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}

.infoButton:focus {
    transform: scale(0.9);
}


.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fffcf2;
    padding: 1rem;
}

.sendBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sendBox input:focus {
    outline: none;

}

.sendBox input,
.sendBox button {
    font-size: 1rem;

}

.sendBox input {
    width: 100%;
    padding: 0.5rem 1.5rem 0.5rem 2rem;
    border-radius: 10px;
    border: none;


}

.sendBox input::placeholder {
    font-size: .75rem;
}

.emojiButton {
    position: relative;
    left: 25px;
    background-color: inherit;
    border: none;
    color: #E86100;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.sendBox button {
    position: relative;
    left: -25px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    color: #eb5e28;
}

.sendBox button,
.emojiButton:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.sendBox button:focus {
    outline: none;
}


.searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    color: #403d39;
    font-size: 1rem;

}

.searchIcon:focus~.searchInput,
.searchInput:focus {
    outline: none;
    box-shadow: none;
    width: 150px;
    border-radius: 0px;
    border-bottom: 1px solid #403d39;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);

}



.roomDetails {
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    max-width: 300px;
}